aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiosignal==1.4.0
asgiref==3.9.1
asyncclick==8.2.2.2
attrs==25.3.0
certifi==2025.8.3
cffi==1.17.1
charset-normalizer==3.4.3
contourpy==1.3.3
cryptography==45.0.6
cycler==0.12.1
Django==5.2.5
djangorestframework==3.16.1
fonttools==4.59.1
frozenlist==1.7.0
idna==3.10
joblib==1.5.1
kiwisolver==1.4.9
mashumaro==3.16
matplotlib==3.10.5
multidict==6.6.4
numpy==2.3.2
packaging==25.0
pillow==11.3.0
propcache==0.3.2
pycparser==2.22
pycryptodome==3.23.0
pyparsing==3.2.3
pytapo==3.3.49
python-dateutil==2.9.0.post0
python-kasa==0.10.2
requests==2.32.5
rtp==0.0.4
scikit-learn==1.7.1
scipy==1.16.1
six==1.17.0
sqlparse==0.5.3
tapo==0.8.4
threadpoolctl==3.6.0
typing_extensions==4.14.1
urllib3==2.5.0
yarl==1.20.1
